body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1061px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:54px;
}
#u358 {
  position:absolute;
  left:320px;
  top:24px;
  width:241px;
  height:54px;
}
#u359 {
  position:absolute;
  left:2px;
  top:19px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:53px;
}
#u360 {
  position:absolute;
  left:50px;
  top:24px;
  width:208px;
  height:53px;
}
#u361 {
  position:absolute;
  left:2px;
  top:18px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:275px;
}
#u362 {
  position:absolute;
  left:320px;
  top:146px;
  width:741px;
  height:275px;
}
#u363 {
  position:absolute;
  left:2px;
  top:130px;
  width:737px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:246px;
}
#u364 {
  position:absolute;
  left:50px;
  top:146px;
  width:214px;
  height:246px;
}
#u365 {
  position:absolute;
  left:2px;
  top:115px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
