body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u231 {
  position:absolute;
  left:2px;
  top:515px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u234 {
  position:absolute;
  left:84px;
  top:159px;
  width:414px;
  height:20px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u235 {
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u236 {
  position:absolute;
  left:122px;
  top:159px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u237 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u238 {
  position:absolute;
  left:89px;
  top:167px;
  width:33px;
  height:5px;
}
#u239 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u240 {
  position:absolute;
  left:467px;
  top:164px;
  width:25px;
  height:10px;
}
#u241 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u242 {
  position:absolute;
  left:436px;
  top:162px;
  width:31px;
  height:16px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u244 {
  position:absolute;
  left:414px;
  top:159px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u245 {
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:457px;
  top:204px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 179, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u248 {
  position:absolute;
  left:84px;
  top:831px;
  width:414px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u249 {
  position:absolute;
  left:2px;
  top:16px;
  width:410px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u250 {
  position:absolute;
  left:92px;
  top:203px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u252 {
  position:absolute;
  left:255px;
  top:203px;
  width:89px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u254 {
  position:absolute;
  left:442px;
  top:203px;
  width:51px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u256 {
  position:absolute;
  left:103px;
  top:250px;
  width:145px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u258 {
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u259 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
